/* Below 1560px */
/* 62.5em for 1000px */
/* Below */

@media (max-width: 87.5em) {
  * {
    overflow-x: hidden;
    /* To fix vertical line bug in mobile open menu */
    /* box-sizing: initial; */
  }

  body {
    display: grid;
    grid-template-columns: 1fr;
  }

  html {
    font-size: 50%;
  }

  .header {
    align-items: flex-start;
  }

  .right-links * {
    box-sizing: initial;
  }

  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .header-container-inner {
    width: 75rem;
  }

  .interactive-section {
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: center;
    justify-items: center; */
  }

  .interactive-description {
    font-size: 4.8rem;
  }

  .information-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    max-width: 100rem;
    text-align: center;
  }

  .right-text-container {
    position: static;
    width: 100%;
    padding-top: 6.4rem;
    padding-left: 0;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .right-links {
    background-color: #000;
    /* backdrop-filter: blur(10px); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    align-items: baseline;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;
    visibility: hidden;
    padding: 6.8rem;
    z-index: 9999;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 4.8rem;
  }

  .logo-container-menu {
    display: inline-block;
    width: 100%;
    margin-bottom: 16rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    letter-spacing: 0.2rem;
    line-height: 1.1;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-size: 6.4rem;
    font-weight: 300;
  }

  .nav-open .right-links {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .icon-mobile-nav {
    margin-bottom: 16rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  /* Our Creations Section */
  .our-creations-section {
    padding-bottom: 14.6rem;
  }

  .creations-header-container {
    text-align: center;
    display: block;
    padding: 0;
  }

  .creations-text {
    font-size: 9.6rem;
  }

  .text-container {
    margin-bottom: 6.4rem;
  }

  .btn-container {
    display: none;
  }

  .btn-container-mobile {
    display: block;
    text-align: center;
  }

  .creations-grid-gallery {
    grid-template-columns: 1fr;
    gap: 2.3rem;
    padding-bottom: 9.6rem;
  }

  .vr-title {
    font-size: 7.4rem;
    bottom: 1.5rem;
    left: 2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    letter-spacing: 0.9rem;
    padding: 2.6rem 8.2rem;
    font-size: 4.8rem;
    border: 2px solid #000;
    font-weight: 400;
  }

  /* Footer */

  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 8.2rem;
  }

  .social-links-container,
  .copyright-container {
    align-self: center;
    justify-self: center;
    padding-bottom: 3.2rem;
  }

  .copyright-container {
    order: 2;
  }

  .copyright-container p {
    font-size: 3rem;
  }

  .social-links-container {
    order: 1;
  }

  .nav-container-footer {
    order: 0;
    padding: 4.2rem 0;
    display: flex;
  }

  /* footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4.8rem 0;
  } */

  .main-logo-footer {
    height: 4.4rem;
  }

  .main-nav-list-footer {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }

  .main-nav-link-footer:link,
  .main-nav-link-footer:visited {
    padding: 0;
    font-size: 3.8rem;
  }

  .footer-link img {
    width: 3rem;
  }

  .social-links {
    gap: 2.6rem;
  }
}

@media (max-width: 53.85em) {
  html {
    font-size: 30%;
  }

  .header {
    max-width: 50rem;
  }

  .header-container-inner {
    max-width: 30rem;
  }

  .main-logo-mobile {
    height: 2.2rem;
  }
  .information-container {
    max-width: 70rem;
  }

  .interactive-description {
    max-width: 68rem;
  }
}

@media (max-width: 25em) {
  html {
    font-size: 22%;
  }
}
