/* Header and Nav */

header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  max-width: 150rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 6.4rem;
  /* position: relative; */
}

.main-logo {
  height: 4.4rem;
  cursor: pointer;
}

.main-nav-list {
  font-size: 2.4rem;
  font-family: "Alata", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: hsl(0, 0%, 100%);
  display: inline-block;
  text-decoration: none;
}

/* For 50% hover bottom border */
.right-links a::after,
.left-links a::after,
.social-links a::after {
  content: "";
  display: block;
  padding-top: 0.8rem;
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.social-links a::after {
  width: 100%;
  padding-top: 0.6rem;
}

.right-links a:hover::after,
.left-links a:hover::after,
.social-links a:hover::after {
  content: "";
  display: block;
  padding-top: 0.8rem;
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid white;
}

.social-links a:hover::after {
  width: 100%;
  padding-top: 0.6rem;
}
/*  */

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.header-container {
  width: 150rem;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.header-container-inner {
  width: 55%;
  border: 2px solid hsl(0, 0%, 100%);
  padding: 4.4rem 4.8rem;
}

.hero-headline,
.interactive-title,
.creations-text {
  letter-spacing: 0.2rem;
  line-height: 1.1;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 8.6rem;
  font-weight: 300;
}

/* Leader Information Section */
.interactive-section {
  background-color: hsl(0, 0%, 100%);
}

.information-container {
  position: relative;
  max-width: 150rem;
  margin: 0 auto;
  display: flex;
  padding: 16.5rem 0;
}

.vr-man-img {
  width: 100rem;
}

.right-text-container {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  padding: 12rem 0 0 10rem;
  width: 49%;
  left: 50%;
  top: 36.5%;
}

.logo-container-menu {
  display: none;
}

.interactive-title,
.creations-text {
  color: #000;
  font-size: 7.4rem;
  margin-bottom: 2.3rem;
}

.interactive-description {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: "Alata", sans-serif;
  color: hsl(0, 0%, 41%);
}

/* Our Creations Section */

.our-creations-section {
  max-width: 150rem;
  margin: 0 auto;
}

.creations-header-container {
  display: flex;
  padding: 0 0 10.5rem 0;
  justify-content: space-between;
  align-items: center;
}

.creations-text {
  margin-bottom: 0;
}

.btn,
.btn:link,
.btn:visited {
  letter-spacing: 0.3rem;
  display: inline-block;
  padding: 1.6rem 5.2rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-size: 1.8rem;
  border: 3px solid hsl(0, 0%, 41%);
  font-weight: 600;
  cursor: pointer;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #000;
  color: hsl(0, 0%, 100%);
  border: 3px solid #000;
}

.creations-grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  padding-bottom: 16.5rem;
}

.gallery-item {
  position: relative;
  cursor: pointer;
}

.vr-title {
  position: absolute;
  letter-spacing: 0.2rem;
  line-height: 1.1;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 4.4rem;
  font-weight: 300;
  z-index: 9999;
  bottom: 3.5rem;
  left: 4.5rem;
}

/* Excellent example of gradient over image here */
.gallery-item::after {
  content: "";
  position: absolute;
  padding-top: 6rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 35.29%, 0) 0%,
    hsla(0, 0%, 34.53%, 0.034375) 16.36%,
    hsla(0, 0%, 32.42%, 0.125) 33.34%,
    hsla(0, 0%, 29.18%, 0.253125) 50.1%,
    hsla(0, 0%, 24.96%, 0.4) 65.75%,
    hsla(0, 0%, 19.85%, 0.546875) 79.43%,
    hsla(0, 0%, 13.95%, 0.675) 90.28%,
    hsla(0, 0%, 7.32%, 0.765625) 97.43%,
    hsla(0, 0%, 0%, 0.8) 100%
  );
}
.gallery-item:hover::after {
  content: "";
  position: absolute;
  padding-top: 6rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 66%, 0.677) 0%,
    hsla(0, 0%, 66%, 0.677) 16.36%,
    hsla(0, 0%, 66%, 0.677) 33.34%,
    hsla(0, 0%, 66%, 0.677) 50.1%,
    hsla(0, 0%, 66%, 0.677) 65.75%,
    hsla(0, 2%, 76%, 0.677) 79.43%,
    hsla(0, 0%, 84%, 0.677) 90.28%,
    hsla(0, 5%, 87%, 0.677) 97.43%,
    hsla(0, 10%, 89%, 0.8) 100%
  );
}

/* Note the use of the child selector here */
.gallery-item:hover > .vr-title {
  color: #000;
}

.gallery-item img {
  width: 100%;
  display: block;
}

/* Subtle touch in increase text legibility */
.vr-title {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.btn-container-mobile {
  display: none;
}

/* Footer Section */

footer {
  background-color: #000;
}

.footer {
  max-width: 150rem;
  margin: 0 auto;
  padding: 4.2em 0 1.8rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-logo-footer {
  height: 3.4rem;
  cursor: pointer;
}

.footer-link img {
  width: 2rem;
}

.social-links-container {
  align-self: flex-end;
  justify-self: flex-end;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.4rem;
  align-items: center;
  padding-top: 0.6rem;
}

.main-nav-list-footer {
  font-size: 2.4rem;
  font-family: "Alata", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link-footer:link,
.main-nav-link-footer:visited {
  color: hsl(0, 0%, 100%);
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 2.4rem 0;
}

.copyright-container {
  font-family: "Alata", sans-serif;
  align-self: center;
  justify-self: flex-end;
  color: hsl(0, 0%, 41%);
  font-size: 1.4rem;
}
